

.hello{
     

}
#div_hello{
     
       
        
     font-family: 'EB Garamond', serif;

      
         height: 400px;
         font-size: 200px;
         display: flex;
         justify-content: center;
         align-items: flex-end;
         margin-bottom: 0%;

}

.hello:hover{

    
     color: E5B8F4;
     cursor: hand;
     font-size: 190px;
     transition: .2s;
}

.hello::selection{
            background-color: C147E9;

}

#click_me{
          font-size: 50px;
          font-family: 'Nerko One', cursive;
          display: flex;
          justify-content: center;
          margin-top: 50px;

          --b: 0.1em;   /* the thickness of the line */
          --c: #1095c1; /* the color */
          
          color: #0000;
          padding-block: var(--b);
          background: 
            linear-gradient(var(--c) 50%,rgb(255, 0, 0) 0) 0% calc(100% - var(--_p,0%))/100% 200%,
            linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
          -webkit-background-clip: text,padding-box;
                  background-clip: text,padding-box;
          transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
        
 
      

}


#click_me {
     color: #000;
     position: relative;
     text-decoration: none;
   }
   
   #click_me::before {
     background: rgb(255, 8, 0);
     content: "";
     inset: 0;
     position: absolute;
     transform: scaleX(0);
     transform-origin: right;
     transition: transform 0.5s ease-in-out;
     z-index: -1;
   }
   
   #click_me:hover::before {
     transform: scaleX(1);
     transform-origin: left;
   }




   *{
     background-color: 810CA8;
}