body{
    background-color: #0CCA4A;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
#about{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 200px;
    font-size: 50px;
    margin-left: 500px;
    margin-right: 500px;
float: left;
  
}
#a{
    color: black;
}

#social_media{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 45px;
    margin-top: 50px;
    margin-left: 500px;
    margin-right: 500px;
    float: left;
  
}
#sm{
    color: black;
}

#hireme{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 45px;
    margin-top: 50px;
    margin-left: 500px;
    margin-right: 500px;
    float: left;
    
}
.hireme{
    color: black;
} 

#projects{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 45px;
    margin-top: 50px;
    margin-left: 500px;
    margin-right: 500px;
         float: left;
    
}
    
.projects{
    color: black;
}

#naruto{
    height: 660px;
    margin-left: 700px;
    
    display: flex;
    align-items: flex-start;
    justify-content: right;

}

.naruto{
    margin-top: 0px;
padding-top: 0px;
margin: 0px;
padding: 0px;

}

