

.hello{
     

}
#div_hello{
     
       
        
     font-family: 'EB Garamond', serif;

      
         height: 400px;
         font-size: 200px;
         display: flex;
         justify-content: center;
         align-items: flex-end;
         margin-bottom: 0%;

}

.hello:hover{

    
     color: E5B8F4;
     cursor: pointer;
     font-size: 190px;
    
}

.hello::selection{
            background-color: C147E9;

}

#click_me{
          font-size: 50px;
          font-family: 'Nerko One', cursive;
          display: flex;
          justify-content: center;
          margin-top: 50px;
          animation : fall;
          animation: fall 1s 0s 0ms 2  fill-mode;
}  

.click_me{
      color: black;
      animation-name: fall;
     
}

   *{
     background-color: 810CA8;
}

@keyframes fall {
           10%{
              margin-top: 10000px;
           }
           59%{
            margin-top: 0px;
           }
           
}